{% extends 'wrapper.html' %}
{% block title %}Kirim{% endblock title %}
{% block content %}
<style>
  table{
    overflow: auto;
  }
  tr:hover {
    background-color: rgb(194, 190, 190);
  }
</style>
<div class="pagetitle">
    <h1>Kirim</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">To'lovlar</li>
      </ol>
      <div>
        <form method="POST" class="d-felx " style="">
          {% csrf_token %}
          <input name="from" type="date" id="from" style="border-radius: 3px;margin-top:10px;outline:none;border:none;padding:10px 10px;">
          <label for="from">Dan - Gacha</label>
          <input name="till" type="date" id="from" style="border-radius: 3px;margin-top:10px;outline:none;border:none;padding:10px 10px;">
          <button class="btn btn-primary" name="filtr" style="margin-left: 10px;">filtrlash</button>
        </form>
      </div>
    </nav>
  </div><!-- End Page Title -->
  <div class="d-flex justify-content-between align-items-center">
    <div></div>
    <div>
      <form method="POST">
        {% csrf_token %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">To'lov qo'shish</button>
        <button type="submit" class="btn btn-warning" name="excel">.xlsx</button>
        <button type="submit" class="btn btn-info" name="pdf">.pdf</button>
      </form>
    </div>
  </div>
  
    <div class="row" style="overflow-x: auto;"> 
           
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ismi</th>
                  <th scope="col">Summasi</th>
                  <th scope="col">sanasi</th>
                  <th scope="col">To'lov turi</th>
                  <th scope="col">Telefon Raqamlari</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% if expances %}
                {% for i in expances %}
                <tr>
                  <th scope="row">{{ i.id }}</th>
                  <td>{{ i.name }}</td>
                  <td>{{ i.amount }} {{ i.currency }}</td>
                  <td>{{ i.deadline }}</td>
                  <td>{{ i.payment_type }}</td>
                  <td>{{ i.phone_number }}<br>{{ i.extra_phone_number }}</td>
                  <td>
                    <div>
                      <form method="POST" class="d-flex justify-content-start align-items-center gap-3">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ i.id }}">
                        <button type="button" class="btn btn-success edit-btn" data-id="{{ i.id }}" data-bs-toggle="modal"  data-bs-target="#editProduct"> <i class="bi bi-pen"></i></button>
                        <button type="button" class="btn btn-danger" data-id="{{ i.id }}" data-bs-toggle="modal"  data-bs-target="#DeleteModal"><i class="bi bi-trash"></i></button>
                      </form>
                    </div>
                  </td>
                </tr>
                <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="editProductModal" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">O'chirish</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="product" value="{{ i.id }}">
                                <div style="color: gray;text-align:center;font-size: 20px;">Haqiqattan Ham O'chirishni Xoylaysimi ?</div>
                                <div style="text-align: center; margin-top:10px;"><button class="btn btn-primary" type="submit" name="delete">Tasdiqlash</button></div>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <tr>
                  <div style="color: gray;font-size:20px;text-align:center">
                    Ma'lumot mavjud emas!!!
                  </div>
                </tr>
                {% endif %}
              </tbody>
             
            </table>
            <nav>
              <ul class="pagination justify-content-center">
                  {% if expances.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ expances.previous_page_number }}">Oldingi</a>
                      </li>
                  {% endif %}
                  {% for num in expances.paginator.page_range %}
                      <li class="page-item {% if num == expances.number %}active{% endif %}">
                          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                      </li>
                  {% endfor %}
                  {% if expances.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ expances.next_page_number }}">Keyingi</a>
                      </li>
                  {% endif %}
              </ul>
            </nav>
    </div>
  
    <!-- Button trigger modal -->

   <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">To'lov Qo'shish</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Ismi:</label>
            <input type="text" class="form-control" id="formGroupExampleInput"  name="name" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Summasi:</label>
            <input type="number" class="form-control" id="formGroupExampleInput2"  name="amount" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Valyuta:</label>
            <select name="currency" id="payment_type" required class="form-select">
                <option selected>----</option>
                <option value="dollor">Dollor</option>
                <option value="so'm">So'm</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Muddati:</label>
            <input type="date" class="form-control" id="formGroupExampleInput2"  name="deadline" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">To'lov Turi:</label>
            <select name="payment_type" id="payment_type" required class="form-select">
                <option selected>----</option>
                <option value="naqd">Naqd</option>
                <option value="nasiya">Nasiya</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Telefon Raqam 1</label>
            <input type="number" class="form-control" id="formGroupExampleInput2"  name="phone_number" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Telefon Raqam 2</label>
            <input type="number" class="form-control" id="formGroupExampleInput2"  name="extra_phone_number" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary" name="add">Saqlash</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="editProductModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mahsulot Qo'shish</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="product_id" name="product" id="product_id">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Ismi:</label>
              <input type="text" class="form-control" id="name"  name="name" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Summasi:</label>
              <input type="number" class="form-control" id="amount"  name="amount" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Valyuta:</label>
              <input type="text" class="form-control" id="currency"  name="currency" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Muddati:</label>
              <input type="date" class="form-control" id="deadline"  name="deadline" required>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">To'lov Turi:</label>
                <select name="payment_type" id="payment_type" required class="form-select">
                    <option selected>----</option>
                    <option value="naqd">Naqd</option>
                    <option value="nasiya">Nasiya</option>
                </select>
              </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Telefon Raqam 1</label>
              <input type="number" class="form-control" id="phone_number"  name="phone_number" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Telefon Raqam 2</label>
              <input type="number" class="form-control" id="extra_phone_number"  name="extra_phone_number" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
              <button type="submit" class="btn btn-primary" name="save">Saqlash</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    $(".edit-btn").click(function() {

        var productId = $(this).data("id");
        var csrfToken = "{{ csrf_token }}";
        
        $.ajax({
            url: '/expances/', 
            type: 'POST',
            headers: {
              'X-CSRFToken': csrfToken 
            },
            data: {
                'action': 'edit',
                'product': productId
            },
            success: function(response) {
              console.log(response.product)
               
                if (response.success) {
                   
                    $('#product_id').val(response.expance.id);
                    $('#name').val(response.expance.name);
                    $('#amount').val(response.expance.amount);
                    $('#currency').val(response.expance.currency);
                    $('#payment_type').val(response.expance.payment_type);
                    $('#deadline').val(response.expance.deadline);
                    $('#phone_number').val(response.expance.phone_number);
                    $('#extra_phone_number').val(response.expance.extra_phone_number);
                   
                    $('#product-modal').modal('show');
                   
                } else {
                   
                    alert('Error: ' + response.message);
                }
            },
            error: function(xhr, status, error) {
               
                console.log("ishlamadi")
            }
        });
    });
});
</script>
{% endblock content %}